.container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  a {
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 18px;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: grey;
    gap: 2.5rem;
  }
}
